<app-header-home></app-header-home>
<div class="img-container">
  <img src="assets/home.png" alt="home" class="home-background">
  <div class="text-box">
    <p>Envíe notificaciones desde cualquier lugar con un solo click.</p>
  </div>
  <button class="image-button home-inicio-2" (click)="navigateToSendNotification()">
    <img src="assets/inicio 2.png" alt="inicio 2">
  </button>
  <button class="image-button home-inicio-3" (click)="navigateToInbox()">
    <img src="assets/inicio 3.1.png" alt="inicio 3">
  </button>
</div>
