<div class="top-buttons-container">
  <button class="new-notification-button">
    <img src="assets/enviar notificacion.png" class="new-notification-icon" alt="Descripción de la imagen">
    Nueva notificación</button>
  <button class="Delete-all-button">
    <img src="assets/basurero gris.png" class="trash-icon"alt="Descripción de la imagen">
    Eliminar todo</button>
<button class="Generator-report" (click)="reporte()">
    <img src="assets/reporte.png" class="report"alt="Descripción de la imagen">
    Reporte</button>


</div>
